body{
    width:900px;
    margin: 0px auto;
    border: 1px solid black;
    background-color: blanchedalmond;
}
header img{
    margin: 5px 20px 5px 5px;
    height: 170px;
    width:150px;
    float:left;
}
header h1{
    font-size: 200%;
    margin:0;
}
header h2{
    font-style: italic;
    margin: .3em 0 0 5em;

}
#nav-menu{
    clear: both;
}
#nav-menu ul{
    list-style-type: none;
    position:relative;
    margin: 0;
    padding: 0;
}
#nav-menu ul li{
    float: left;;
}
#nav-menu ul ul{
    display: none;
    position: absolute;
    top: 100%;
}
#nav-menu ul ul li{
    float: none;
    position: relative;
}
#nav-menu ul ul li ul{
    border-left: 1px solid black;
    position: absolute;
    left: 100%;
    top:0;
}

#nav-menu ul li:hover > ul { 
    display: block;
    
}
#nav-menu > ul::after { 
    content: ""; 
    clear: both; 
    display: block;
}
#nav-menu ul li a { 
    text-align: center; 
    display: block; 
    width: 300px; 
    padding: 1em 0;
    text-decoration: none; 
    background-color:peru; 
    color: white;
    font-weight: bold;
    border-bottom:1px solid black; 
}
#nav-menu ul li a:hover, #nav-menu ul li a:focus{
    background-color: burlywood;
}
.left{
    float: left;
    width:190px;
    height:400px;
    border-right: 1px solid black;
    
}
.left ul{
    list-style-type: none;
    padding-left: 1em;
    
}
.left ul li a{
    display: block;
    width:140px;
    border: 1px solid white;
    margin-bottom: 1em;
    text-decoration: none;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    
}
.left a img{
    height:1em;
}
main article{
    width:464px;
    float:left;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    padding: 1em;

}
.right{
    float: right;
    width:190px;
    height:400px;
    border-left: 1px solid black;
}
.right p{
    margin-left: 10px;
}
footer{
    border-top: 1px solid black;
    clear: both;
    text-align: center;
    background-color:peru; 
    padding: .4em;
}
footer p{
    color: white;
}

    
    
 
